
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-categories></app-categories>
    </div>
    <div class="col-md-8">

      <h1 class="display-3 text-primary text-center mb-3">Movies</h1>

      <app-loading *ngIf="isLoadingMode"></app-loading>

      <div class="alert alert-danger my-2" *ngIf="errorMessage">
        {{errorMessage}}
      </div>



      <div *ngIf="!isLoadingMode">
        <div class="form-group mb-4">
          <input [(ngModel)]="searchedText" type="text" class="form-control text-muted" placeholder="Search...">
          <label class="form-text" *ngIf="searchedText">Searched text : {{searchedText}}</label>
        </div>

        <div *ngIf="(GetMovies() | search:searchedText).length > 0 then movieCount else noMovies"></div>

        <div *ngIf="(GetMovies() | search:searchedText).length > 0 then showMovies"></div>
      </div>

      <ng-template #movieCount>
        <div class="alert alert-warning">
          {{(GetMovies() | search:searchedText).length}} movie(s) found.
        </div>
      </ng-template>

      <ng-template #noMovies>
        <div class="alert alert-danger">
          No movies found.
        </div>
      </ng-template>

      <ng-template #showMovies>
        <div *ngFor="let movie of GetMovies() | search : searchedText">
          <app-movie *ngIf="movie" [movieInput]="movie"></app-movie>
        </div>
      </ng-template>

    </div>
  </div>
</div>
