/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";

.form-control.ng-touched.ng-valid{
  border-left: 5px solid green;
}

.form-control.ng-touched.ng-invalid{
  border-left: 5px solid red;
}

.form-select.ng-touched.ng-valid{
  border-left: 5px solid green;
}

.form-select.ng-touched.ng-invalid{
  border-left: 5px solid red;
}



