<div class="card mb-4">
  <div class="row">
    <div class="col-md-6">
      <img src="{{movieInput.imageUrl}}" alt="movie-thumbnail" class="card-img-top">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title">
          {{movieInput.title}}
        </h3>
        <div class="card-text mb-3">
          {{movieInput.description | summary:10}}
        </div>

        <div class="btn-group">
          <button #toggleBtn (click)="ToggleList(toggleBtn, movieInput)" class="btn btn-sm" [ngClass]="{'btn-outline-danger':CheckList(movieInput), 'btn-outline-success':!CheckList(movieInput)}">{{!CheckList(movieInput) ? 'Add to List' : 'Remove from List'}}</button>
          <button routerLink="/movies/{{movieInput.id}}" class="btn btn-sm btn-outline-primary">Show Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
