
<h1 class="display-3 text-primary text-center mb-4">Categories</h1>

<app-loading *ngIf="isLoadingMode"></app-loading>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<div *ngIf="!isLoadingMode">
  <div *ngIf="GetCategories().length > 0 then showCategories else noCategories"></div>
</div>

<ng-template #noCategories>
  <div class="alert alert-danger">
    No categories found.
  </div>
</ng-template>

<ng-template #showCategories>
  <ul class="list-group mb-4">
    <li routerLink="/movies" class="list-group-item list-group-item-action" [class.active]="!currentCategoryRoute">All Categories</li>
    <li routerLink="/movies/category/{{category.id}}" class="list-group-item list-group-item-action" *ngFor="let category of GetCategories()" [class.active]="currentCategoryRoute == category.id">{{category.name}}</li>
  </ul>
</ng-template>


